* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
}

#top {
  width: 100%;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1619597455322-4fbbd820250a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 50% 50%;
}

#overlay {
  position: relative;
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.596);
}

#text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding: 0 10vw;
  color: #fff;
}

#text h1 {
  font-weight: 500;
  font-size: 6vw;
}

#textright {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#textright p {
  font-size: 12px;
  width: 40%;
}

#textright i {
  color: #fff;
}

#bottom {
  width: 100%;
  min-height: 40vh;
  background-color: blue;
  display: flex;
}

#b1 {
  padding: 30px;
  width: 25%;
  min-height: inherit;
  background-color: #fff;
}

#b1 p {
  font-size: 12px;
  margin-top: 20px;
}

#b2 {
  width: 25%;
  min-height: inherit;
  background-image: url(https://images.unsplash.com/photo-1517942420142-6a296f9ee4b1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#b3 {
  width: 20%;
  min-height: inherit;
  background-color: gray;
}

#b3top {
  width: 100%;
  min-height: 20vh;
  background-color: #ff3901;
  color: #fff;
  padding: 20px;
}

#b3top p {
  margin-top: 10px;
  font-size: 12px;
}

#b3bottom {
  width: 100%;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1538998073820-4dfa76300194?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#b4 {
  width: 30%;
  min-height: inherit;
  background-color: #444;
  color: #fff;
  padding: 30px;
}
.notf {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#notf #photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.notf p {
  width: 90%;
  font-size: 12px;
}

@media (max-width: 500px) {
  #overlay #text {
    flex-direction: column;
    align-items: flex-start;
  }

  #overlay #text #textright {
    align-items: flex-start;
    flex-direction: column;
  }

  #overlay #text #textright p {
    width: initial;
    margin-top: 20px;
  }

  
  #overlay #text #textright #icon {
    margin-top: 30px;
  }

  #text h1{
    font-size: 12vw;
  }


  #bottom
  {
    flex-direction: column;
    min-height: 20vh;
  }

  #b1
  {
    width: 100%;
  }

  #b2
  {
    width: 100%;
  }

  #b3
  {
    flex-direction: column;
    width: 100%;
  }

  #b4
  {
    width: 100%;
  }

}
